h2, h4{
    margin-top: 0px;
    font-family: 'Merriweather', serif;
}

highlight{
    padding: 0px;
    font-size: 1.7em;
    font-family: 'Tangerine', cursive;
}

body {
    background-color: black;
    background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("../images/art.jpg");
    background-size: cover;
}

.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border-radius: 25%;        
}
  
.Aligner-item {
    max-width: 30%;
    flex:1;
    justify-content: center;
}

.Aligner-item-style {
    background-color: white;
    padding: 25px;
    align-self: center;
}

.Aligner-center {
  display: flex;
  justify-content: center;
}

.radio{
    padding-left: 70px;
}

p {
    color: white;
}

/* Users Table */

#artists {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#artists td {
    border: 1px solid #ddd;
    padding: 8px;
}

#artists tr:nth-child(even) {
    background-color: #bbbbbb;
    -webkit-transition: background-color 0.5s;
    -moz-transition:    background-color 0.5s;
    -ms-transition:     background-color 0.5s;
    -o-transition:      background-color 0.5s;
    transition:         background-color 0.5s;
}

#artists tr:nth-child(odd) {
    background-color: #f2f2f2;
    -webkit-transition: background-color 0.5s;
    -moz-transition:    background-color 0.5s;
    -ms-transition:     background-color 0.5s;
    -o-transition:      background-color 0.5s;
    transition:         background-color 0.5s;
}

#artists tr:hover {
    background-color: #4768B9;
}

#artists th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: black;
    color: white;
}

/*Buttons*/
.black-btn {
    background-color: #000000;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: background-color 0.5s;
    -moz-transition:    background-color 0.5s;
    -ms-transition:     background-color 0.5s;
    -o-transition:      background-color 0.5s;
    transition:         background-color 0.5s;
}

.black-btn:hover {
    background-color: #4768B9;
    text-decoration: none;
    color: white;
}

/*Radio Buttons*/
input[type=radio]:checked ~ .check {
  border: 5px solid #0DFF92;
}

input[type=radio]:checked ~ .check::before{
  background: #0DFF92;
}

input[type=radio]:checked ~ label{
  color: #4768B9;
}

#other-artist{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid black;
}