<html>
        <head>
            <title>Thanks for Voting!</title>
            <!--CSS-->
            <link rel="stylesheet" href="../static/css/bootstrap.css">
            <link rel="stylesheet" type="text/css" href="../static/css/main.css">
        </head>
        <body>
        <div class="Aligner">
            <div class="Aligner-item Aligner-item-style">
                <h1>Thanks for Voting!</h1>
                <h4>Curious which artist others chose?</h4>
                <h4>Check out the results of our survey below!</h4>
                <table id="artists">
                    <tr>
                        <th>Contemporary Artist</th>
                        <th>Number of Votes</th>
                    </tr>
                    {% for row in userlist %}
                    <tr>
                          <td>{{ row[0] }}</td>
                          <td>{{ row[1] }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <a id="btn-signout" role="button" class="btn btn-default" href="https://shiparta.com/">Return to Home</a>
            </div>
        </div>
        </body>
</html>