<html>
    <head>
        <title>Contemporary Artist Vote</title>
        <!--CSS-->
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
        <!--Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Tangerine:700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">
    </head>
    <body>
    <div class="Aligner">
        <div class="Aligner-item Aligner-item-style">
            <h2>Please <highlight>vote</highlight> for your favorite contemporary artist.</h2>
            {% if e %}
            <p class="error"><strong>Error: </strong>{{ e }}</p>
            {% endif %}
            <p id="submit-error" class="error"></p>
                <hr style="height:4px;border:none;color:black;background-color:black;">
                <form name="artistvote" onsubmit="isvalid()" action="{{ url_for('compareArtists') }}" method="post">
                        <div class="radio">
                        <input id="artist1" type="radio" name="artist" value="Marcel Eichner"><label for="artist1">Marcel Eichner</label><br>
                        <input id="artist2" type="radio" name="artist" value="Jeff Elrod"><label for="artist2">Jeff Elrod</label><br>
                        <input id="artist3" type="radio" name="artist" value="Awol Erizku"><label for="artist3">Awol Erizku</label><br>
                        <input id="artist4" type="radio" name="artist" value="Hoosen"><label for="artist4">Hoosen</label><br>
                        <input id="artist5" type="radio" name="artist" value="Zak Prekop"><label for="artist5">Zak Prekop</label><br>
                        <input id="artist6" type="radio" name="artist" value="Julie Oppermann"><label for="artist6">Julie Oppermann</label><br>
                        <input id="artist7" type="radio" name="artist" value="David Ostrowski"><label for="artist7">David Ostrowski</label><br>
                        <input id="artist8" type="radio" name="artist" value="Christian Rosa"><label for="artist8">Christian Rosa</label><br>
                        <input id="artist9" type="radio" name="artist" value="Lucien Smith"><label for="artist9">Lucien Smith</label><br>
                        <input id="artist10" type="radio" name="artist" value="Other">
                        <input id="other-artist" type="text" name="artist_other" placeholder="Other Artist" onClick="selectRadio()"/>
                        </div>
                        <br>
                        <div class="Aligner-center">
                            <button id="btn-vote" type="submit" value="Submit" class="black-btn">VOTE</button>
                        </div>
                </form>
        </div>
    </div>
    </body>
<script>
function isvalid(){
    console.log("valid check");
    var artist = document.forms["artistvote"]["artist"].value;
    if (artist === 'Other') {
        var artist = document.forms["artistvote"]["artist_other"].value
        if (artist.length < 2) {
            alert("Your artist name is too short.");
            return false;
        }
        else if (artist.length > 50) {
            alert("Your artist name is too long.");
            return false;
        }
        else if ((/^[a-zA-Z]+$/).test(artist)) {
            alert("Thanks for voting!");
            return true;
        }
        else {
            alert("Thanks for voting!");
            )
            return true;
        }
    }
    else {
            alert("Thanks for voting!");
        return true;
    }
}
selectRadio = () => {
     var radio = document.getElementById("artist10");
     radio.checked = true;
}
</script>
</html>